@font-face {
    font-family: 'supermarket';
    src: url('supermarket.eot') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'supermarket';
    src: url('../font/supermarket.eot?#iefix') format('embedded-opentype'), url('../font/supermarket.woff') format('woff'), url('../font/supermarket.ttf') format('truetype'), url('../font/supermarket.svg#supermarket') format('svg');
    font-weight: normal;
    font-style: normal;
}